<p id="countdown", style="font-variant-numeric: tabular-nums;">&nbsp;</p>

<script>
// Set the date we're counting down to
var countDownDate = new Date(2025, 7, 9, 11).getTime();

function plur(n, single, mult) {
  word = mult;
  
  if (n == 1) {
    word = single;
  }

  num = n.toString().padStart(2, '0')
  
  return `${num} ${word}`;
}

function update() {
  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("countdown").innerHTML = `Nur noch<br><strong>${plur(days, "Tag", "Tage")}, ${plur(hours, "Stunde", "Stunden")}, ${plur(minutes, "Minute", "Minuten")} und ${plur(seconds, "Sekunde", "Sekunden")}</strong><br>bis zum großen Tag!`

  //days + " Tage,<br>" + hours + " Stunden, " + minutes + " Minuten, " + seconds + " Sekunden<br>bis zum großen Tag!";

  // If the count down is finished, write some text
  if (distance < 0) {
    document.getElementById("countdown").innerHTML = "Schön, dass du heute dabei bist!";
  }
}

update();

// Update the count down every 1 second
var x = setInterval(update, 1000);
</script>
